.l-articles {
    padding: 10px 0 10px 0;
    font-size: 14px;
}
.l-article {
    position: relative;
    padding: 0 244px 10px 0;
    border-bottom: 1px dotted #d4d4d4;
}
.l-article h2 {
    padding-top: 8px;
}
.l-article h2 {
    display: inline-block;
}
.l-article .P1 {
    padding-left: 10px;
    margin: .1em 0;
}
.l-article .Bold {
    color: #231f20;
    font-weight: bold;
}
.l-article__abbrev {
    color: #2d8d17;
    font-style: italic;
}
.l-article__showExamp, .l-article__showExamp:visited {
    color: #000;
    text-decoration: none;
    border-bottom: 1px dotted #999;
}
.g-card .optional {
    color: #7C7C7C;
}
.l-article .P2 {
    padding-left: 20px;
    margin: .1em 0;
}
.g-card .Bold {
    font-weight: bold;
}