body {
    font-family: Segoe UI,Lucida Grande,Tahoma,DejaVu Sans,Verdana;
    font-size: 12px;
}

h1 {
    text-align: center;
    font-size: 12px;
    padding: 3px;
    margin: 4px 0 10px 0;
}

#mainPage {
    margin: 0px;
    overflow: hidden;
    background-color: #fff;
}

#mainPageBottom h3 {
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0;
    margin: 5px 0 0 5px;
}

#navigation {
    position: absolute;
    width: 60px;
    height: 28px;
    top: 0px;
    left: 0px;
    padding: 1px 0 0 1px;
    margin: 0;
    background: #FFFFFF;
}

.navigationBack {
    background-image: url(backward24.png);
}

.navigationForward {
    background-image: url(forward24.png);
}

.navigationBack, .navigationForward {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    display: inline-block;
    border: 2px solid #bf1e2e;
}

#settings {
    position: absolute;
    width: 170px;
    height: 50px;
    top: -58px;
    right: 2px;
    padding: 1px;
    margin: 0;
    background: #FFFFFF;
    border: 2px solid #2266AA;
    z-index: 9999;
    cursor: pointer;
    user-select: none;
    list-style: none;
    -webkit-transition-duration: 0.4s;
}

.settingsIcon {
    width: 24px;
    height: 24px;
    margin: 49px 0 0 150px;
    background-repeat: no-repeat;
    background-image: url(window_info.png);
}

.setDblClick {
    float: left;
}

.setSelection {
    float: right;
}

.highlight {
    background: #6cf;
}

/*https://proto.io/freebies/onoff/*/
/*----- On/Off FlipSwitch -----*/
.onoffswitch {
    position: relative; width: 70px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 30px; padding: 0; line-height: 30px;
    border: 2px solid #999999; border-radius: 30px;
    background-color: #EEEEEE;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 30px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 38px;
    border: 2px solid #999999; border-radius: 30px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #1468DE;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #1468DE;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}

.tabs {
    width: 100%;
    /*display: inline-block;*/
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links {
    margin-left: 18px;
}

    .tab-links:after {
        display: block;
        clear: both;
        content: '';
        margin-left: 30px;
    }

    .tab-links li {
        margin: 0px 5px;
        float: left;
        list-style: none;
    }

    .tab-links a {
        padding: 3px 8px;
        display: inline-block;
        border-radius: 3px 3px 3px 3px;
        background: #7FB5DA;
        font-size: 2px;
        font-weight: 600;
        color: #4c4c4c;
        transition: all linear 0.15s;
    }

        .tab-links a:hover {
            background: #a7cce5;
            text-decoration: none;
        }

li.active a, li.active a:hover {
    background: #fff;
    color: #4c4c4c;
}

/*----- Content of Tabs -----*/
.tab-content {
    padding: 3px;
    border-radius: 3px;
    /*box-shadow: -1px 1px 1px rgba(0,0,0,0.15);*/
    background: #fff;
}

.tab {
    display: none;
}

    .tab.active {
        display: block;
    }

    .tab.activeContent {
        display: block;
    }
