.vscode/
npm-debug.log*
assets
node_modules
temp
.tmp
dist
.sass-cache
chrome/bower_components
test/bower_components
package
test
*.pem
*.exe
*.nex
*.crx
*.mxaddon
*.zip
chrome/_locales/*
!chrome/_locales/.gitkeep
edge/_locales/*
!edge/_locales/.gitkeep
maxthon/locale/*
!maxthon/locale/.gitkeep
