._1E22l {
    padding-bottom: 1px;
}
._1mexQ {
    border-top: 1px solid #d2d2d2;
    margin: 20px 0 40px;
    position: relative;
}
._1mexQ li, ._1mexQ p {
    margin: 8px 0;
    position: relative;
}
.tFe19 {
    font: 400 16px/24px Roboto,Helvetica,Tahoma,sans-serif;
    color: #1a1c1e;
}
._2JD_G {
    padding: 0 7px;
    background: #fff;
    display: table;
    margin: -12px auto 24px;
}
._2sn1V, ._3tudh {
    font: 400 12px/24px Roboto,Helvetica,Tahoma,sans-serif;
    letter-spacing: 1px;
}
._3tudh {
    text-transform: uppercase;
    color: #7c7c7c;
}
._2bepj {
    color: #1a1c1e;
    margin-bottom: 24px;
}
._8LHzh {
    font: 700 16px/24px Roboto,Helvetica,Tahoma,sans-serif;
}
.tFe19 {
    font: 400 16px/24px Roboto,Helvetica,Tahoma,sans-serif;
    color: #1a1c1e;
}
._1p48V, ._3O6T9 {
    letter-spacing: 1px;
}
._3O6T9 {
    font: 400 18px/24px Times New Roman,serif;
    color: #1d9bf5;
}
._3zJig {
    cursor: pointer;
}
._24CCn {
    border-bottom: 1px dashed;
    cursor: default;
}
._1AA00 {
    font: italic 400 16px/24px Roboto,Helvetica,Tahoma,sans-serif;
    color: #7c7c7c;
}
._3zJig {
    cursor: pointer;
}
._3zJig {
    cursor: pointer;
}
._24CCn {
    border-bottom: 1px dashed;
    cursor: default;
}
._1AA00 {
    font: italic 400 16px/24px Roboto,Helvetica,Tahoma,sans-serif;
    color: #7c7c7c;
}
._3RdNJ, ._3RdNJ>li {
    list-style-type: disc;
}
._3RdNJ {
    margin-left: 20px;
}
._3LLwK {
    color: #115d93;
}
._3dLzG {
    position: relative;
    padding: 0;
}
._2JnS3, ._39fyt {
    width: 100%;
}